Repository ywatanabe1989/scitex-writer: changes, and which Codecov flags are due for each by the changed paths.
All: python, shell

codecov.yml:

# Codecov configuration for scitex-writer
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    project:
      default:
        target: auto
        threshold: 5%
        informational: true
    patch:
      default:
        target: auto
        threshold: 5%
        informational: true

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

ignore:
  - "tests/**"
  - "docs/**"
  - "examples/**"
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/__init__.py"

# Coverage for different components
flags:
  python:
    paths:
      - src/scitex/
    carryforward: true

  shell:
    paths:
      - scripts/shell/
    carryforward: true

# EOF

Update demo png files
  docs/demo-manuscript-preview.png
  docs/demo-revision-preview.png
  docs/demo-supplementary-preview.png
Due: none

Update demo png files
  docs/demo-manuscript-preview.png
  docs/demo-revision-preview.png
  docs/demo-supplementary-preview.png
  scripts/repository_maintenance/generate_demo_previews.sh
Due: none

Update
  01_manuscript/archive/.manuscript.tex
  01_manuscript/archive/.manuscript_diff.tex
  01_manuscript/manuscript.pdf
  01_manuscript/manuscript_diff.tex
  README.md
  docs/.TO_CLAUDE.md
  docs/.TO_CLAUDE_v01.md
  scripts/shell/compile_manuscript.sh
  scripts/shell/compile_revision.sh
  scripts/shell/compile_supplementary.sh
Due: shell

Update
  01_manuscript/manuscript.pdf
  01_manuscript/manuscript_diff.tex
  README.md
  docs/.TO_CLAUDE.md
  docs/.TO_CLAUDE_v01.md
  scripts/shell/compile_manuscript.sh
  scripts/shell/compile_revision.sh
  scripts/shell/compile_supplementary.sh
Due: shell

Update
  02_supplementary/archive/.supplementary.tex
  02_supplementary/archive/supplementary_diff_v003.tex
  README.md
Due: none

Update
  02_supplementary/supplementary_diff.tex
  README.md
Due: none

Add compilation logs
  scripts/shell/.compile_manuscript.sh.log
  scripts/shell/.compile_revision.sh.log
  scripts/shell/.compile_supplementary.sh.log
Due: shell

Update compile scripts to log to both local and global files
  scripts/shell/compile_manuscript.sh
  scripts/shell/compile_revision.sh
  scripts/shell/compile_supplementary.sh
Due: shell

Update
  01_manuscript/manuscript.pdf
  01_manuscript/manuscript_diff.tex
  02_supplementary/supplementary_diff.tex
Due: none

Update
  01_manuscript/archive/.manuscript.tex
  01_manuscript/archive/.manuscript_diff.tex
  01_manuscript/manuscript.pdf
  01_manuscript/manuscript_diff.tex
  02_supplementary/archive/.supplementary.tex
  02_supplementary/archive/supplementary_diff_v003.tex
  02_supplementary/supplementary_diff.tex
Due: none

Add comprehensive installation documentation
  README.md
  docs/01_GUIDE_INSTALLATION.md
Due: none

Fix flaky performance test for CI compatibility
  tests/scripts/test_performance.sh
Due: none

Add pytest to Python requirements for CI tests
  requirements/python.txt
Due: none

Refactor: Move update.sh to scripts/repository_maintenance/
  Makefile
  scripts/repository_maintenance/update.sh
  src/scitex/writer/cli.py
  tests/scitex/writer/test__integration.py
Due: python

Remove Python interface and related infrastructure
  .github/workflows/comprehensive-tests.yml
  .github/workflows/python-tests.yml
  README.md
  codecov.yml
  docs/01_GUIDE_INSTALLATION.md
  pyproject.toml
  pytest.ini
  requirements/python.txt
  src/scitex/__init__.py
  src/scitex/writer/__init__.py
  src/scitex/writer/cli.py
  src/scitex/writer/compile.py
  src/scitex/writer/template.py
  src/scitex/writer/watch.py
  src/scitex/writer/writer.py
  tests/__init__.py
  tests/conftest.py
  tests/run_all_tests.sh
  tests/scitex/__init__.py
  tests/scitex/writer/TEST_PLAN.md
  tests/scitex/writer/__init__.py
  tests/scitex/writer/run_test.sh
  tests/scitex/writer/test__integration.py
  tests/scitex/writer/test_compile.py
  tests/scitex/writer/test_template.py
  tests/scitex/writer/test_version.py
  tests/scitex/writer/test_writer.py
Due: python

Parallelize load_config.sh
  config/config_manuscript.yaml
  config/load_config.sh
Due: none

Add VERSION file and optimize startup performance
  VERSION
  config/load_config.sh
  scripts/shell/compile_manuscript.sh
  scripts/shell/modules/check_dependancy_commands.sh
  scripts/shell/modules/cleanup.sh
  scripts/shell/modules/command_switching.src
  scripts/shell/modules/compilation_compiled_tex_to_compiled_pdf.sh
  scripts/shell/modules/count_words.sh
  scripts/shell/modules/mmd2png_all.sh
  scripts/shell/modules/png2tif_all.sh
  scripts/shell/modules/pptx2tif_all.sh
  scripts/shell/modules/process_archive.sh
  scripts/shell/watch_compile.sh
Due: shell

Bump version to v2.0.0-rc1
  VERSION
Due: none

Fix bibliography compilation and add citation management tools
  00_shared/ai2_prompt.md
  00_shared/ai2_prompt_data.json
  00_shared/bib_files/cited_states.json
  00_shared/bib_files/related_work.bib
  scripts/python/_logging.py
  scripts/python/check_cited_states.py
  scripts/python/generate_ai2_prompt.py
  scripts/shell/modules/compilation_compiled_tex_to_compiled_pdf.sh
Due: shell

docs: Add three-engine compilation architecture design
  01_manuscript/docs/three-engine-architecture.md
Due: none

feat: Implement three-engine compilation system (v2.1.0)
  config/config_manuscript.yaml
  scripts/shell/compile_manuscript.sh
  scripts/shell/modules/command_switching.src
  scripts/shell/modules/compilation_compiled_tex_to_compiled_pdf.sh
  scripts/shell/modules/engines/compile_3pass.sh
  scripts/shell/modules/engines/compile_latexmk.sh
  scripts/shell/modules/engines/compile_tectonic.sh
  scripts/shell/modules/select_compilation_engine.sh
Due: shell

fix: Fix latexmk engine quoting and module paths
  scripts/shell/modules/compilation_compiled_tex_to_compiled_pdf.sh
  scripts/shell/modules/engines/compile_latexmk.sh
Due: shell
